  <style>
  /* ✅ Floating WhatsApp Button */
      .whatsapp-float {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #25D366;
      color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
      z-index: 999;
      transition: all 0.3s ease;
    }

    .whatsapp-float:hover {
      background-color: #1ebe5d;
      transform: scale(1.1);
    }
</style>

<a href="https://wa.me/919403891308" target="_blank" class="whatsapp-float">
    <i class="fa-brands fa-whatsapp"></i>
  </a>